{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
    <!DOCTYPE html>
    <dl>
        <dt>タイトル:
        <dd><input type="text" size=30 name="title">
        <dt>本文:
        <dd><textarea name="text" id="q" name="q" rows=5 cols=40></textarea>
            <input type="button" value="ボタンを押して話すと音声出力されるよ" onclick="recognition.start()">
        <dd><input type="submit" value="追加（タイトルと本文を入力したらここを押す）">
    </dl>
</form>

{% endif %}
<ul class="entries">
    {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
        {% else %}
    <li><em>追加したデータは下に表示されていきます</em>
        {% endfor %}
</ul>
{% endblock %}